@font-face {
    font-family: 'abril fatface';
    src: url("/fonts/AbrilFatface-Regular.ttf");
}


html {
    height: fit-content;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

@media screen and (min-width: 990px) {
  #assine {
      width: 10vw;
  }
}