@font-face {
    font-family: 'abril fatface';
    src: url("/fonts/AbrilFatface-Regular.ttf");
}


body {
    height: fit-content;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

@media screen and (max-width: 570px) {
  
}