@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-e-fonte {
    background-color: #F0E2E7;
    font-family: 'Abril Fatface', cursive;
}

.alerta-vermelho, .alerta-azul, .alert-submit {
    position: fixed;
    top: 1rem;
    right: 20%;
    color: black;
}